################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
/BlazorBSModal/BlazorBSModal/bin/Debug/net5.0/ref/BlazorBSModal.dll
/BlazorBSModal/BlazorBSModal/bin/Debug/net5.0/BlazorBSModal.deps.json
/BlazorBSModal/BlazorBSModal/bin/Debug/net5.0/BlazorBSModal.dll
/BlazorBSModal/BlazorBSModal/bin/Debug/net5.0/BlazorBSModal.pdb
/BlazorBSModal/BlazorBSModal/bin/Debug/BlazorBSModal.1.0.3.nupkg
/BlazorBSModal/BlazorBSModal/bin/Debug/BlazorBSModal.1.0.4.nupkg
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/Razor/BSModal.razor.g.cs
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/RazorDeclaration/BlazorBSModal.dll
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/RazorDeclaration/BlazorBSModal.pdb
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/RazorDeclaration/BSModal.razor.g.cs
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/ref/BlazorBSModal.dll
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/BlazorBSModal.StaticWebAssets.Manifest.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/BlazorBSModal.StaticWebAssets.Pack.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/msbuild.buildTransitive.BlazorBSModal.props
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/msbuild.buildMultiTargeting.BlazorBSModal.props
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/msbuild.build.BlazorBSModal.props
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/staticwebassets/msbuild.BlazorBSModal.Microsoft.AspNetCore.StaticWebAssets.props
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.TagHelpers.output.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.TagHelpers.input.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.RazorTargetAssemblyInfo.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.RazorCoreGenerate.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.RazorComponent.output.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.RazorComponent.input.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.pdb
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.GeneratedMSBuildEditorConfig.editorconfig
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.dll
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.csproj.FileListAbsolute.txt
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.csproj.CoreCompileInputs.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.csproj.AssemblyReference.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.assets.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.AssemblyInfoInputs.cache
/BlazorBSModal/BlazorBSModal/obj/Debug/net5.0/BlazorBSModal.AssemblyInfo.cs
/BlazorBSModal/BlazorBSModal/BlazorBSModal.csproj.user
