################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.user
*.cs
*.dll
*.pdb
*.cache
*.props
*.txt
*.editorconfig
*.json
*.nupkg
